<p>Nothing here {{'yet' + '!'}}</p>
<div>
  <p>{{vm.error}}</p>

  <div>
    <label>Search:
      <input type="text" ng-model="vm.query">
    </label>
  </div>

  <div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature" data-ng-repeat="book in vm.books | filter:vm.search">
        <div class="thumbnail">
          <div ng-show="{{book.hasImage}}">
            <img data-ng-src="{{book.links.cover}}" alt="{{book.title}}" class="center-block" />
          </div>
          <div ng-hide="{{book.hasImage}}">
            <img src="http://placehold.it/160x160" alt="No Cover Image" class="center-block" />
          </div>

          <div class="caption">
            <h3 ng-bind-html="book.title | highlight: vm.query">{{book.title}}</h3>
            <p ng-bind-html="book.author | highlight: vm.query">{{book.author}}</p>
            <p ng-bind-html="book.genre | highlight: vm.query">{{book.genre}}</p>
            <p>
              <a href="home#/EditBook/{{book._id}}" class="btn btn-primary">Edit</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
<!--
  <table class="table table-striped">
    <tr class="info">
      <th class="info">Author</th>
      <th class="info">Title</th>
      <th class="info">Cover</th>
      <th class="info">Action</th>
    </tr>
    <tr ng-class-odd="'success'" ng-class-even="'information'" data-ng-repeat="book in vm.books | filter:vm.search">
      <td ng-class-odd="'success'" ng-class-even="'information'" ng-bind-html="book.author | highlight: vm.query">{{book.author}}</td>
      <td ng-class-odd="'success'" ng-class-even="'information'" ng-bind-html="book.title | highlight: vm.query">
        {{book.title}}
      </td>
      <td ng-class-odd="'success'" ng-class-even="'information'">
        <div ng-show="{{book.hasImage}}">
          <img data-ng-src="{{book.links.cover}}" />
        </div>
      </td>
      <td> <a href="home#/EditBook/{{book._id}}">Edit/Delete</a></td>
    </tr>
  </table>
 -->