<div>
  <p>{{vm.error}}</p>

  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1" ng-model="vm.query">
  </div>

  <div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature" data-ng-repeat="book in vm.books | filter:vm.search">
      <div class="thumbnail">
        <div ng-show="{{book.hasImage}}">
          <img data-ng-src="{{book.links.cover}}" alt="{{book.title}}" class="center-block" />
        </div>
        <div ng-hide="{{book.hasImage}}">
          <img src="http://placehold.it/160x160" alt="No Cover Image" class="center-block" />
        </div>

        <div class="caption">
          <h4 ng-bind-html="book.title | highlight: vm.query">{{book.title}}</h4>
          <p ng-bind-html="book.author | highlight: vm.query">{{book.author}}</p>
          <p ng-bind-html="book.genre | highlight: vm.query">{{book.genre}}</p>
          <p>
            <a href="home#/EditBook/{{book._id}}" style="color:blue">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <a href="" ng-click="vm.deleteBook(book._id)">
              <span class="glyphicon glyphicon-trash"  style="color:red" aria-hidden="true"></span>
            <a/>
            <button type="button" class="btn btn-danger btn-xs btn-round"><span class="glyphicon glyphicon-trash"></span></button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>