<h2>Edit Book {{'yet' + '!'}}</h2>
<div ng-controller="EditBook as vm">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="bookTitle" class="col-sm-1 control-label">Title</label>

      <div class="col-sm-4">
        <input type="text" ng-model="vm.currentBook.title" class="form-control" id="bookTitle" placeholder="Title">
      </div>
    </div>
    <div class="form-group">
      <label for="bookAuthor" class="col-sm-1 control-label">Author</label>

      <div class="col-sm-4">
        <input type="text" ng-model="vm.currentBook.author" class="form-control" id="bookauthor" placeholder="Author">
      </div>
    </div>
    <div class="form-group">
      <label for="bookGenre" class="col-sm-1 control-label">Genre</label>

      <div class="col-sm-4">
        <input type="text" ng-model="vm.currentBook.genre" class="form-control" id="bookgenre" placeholder="Genre">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-5">
        <a href="#/" class="btn">Cancel</a>
        <button data-ng-click="vm.saveBook()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </form>
</div>